<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fvosb.dumpsterfire">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.FunctionalityActivity" />
        <activity android:name=".activities.SearchTrainActivity" />
        <activity android:name=".activities.RegistrationActivity" />
        <activity android:name=".activities.SelectDepartureActivity" />
        <activity android:name=".activities.PopulatedScheduleActivity" />
        <activity android:name=".activities.ViewScheduleActivity" />
        <activity android:name=".activities.TravelExtrasActivity" />
        <activity android:name=".activities.PaymentInformationActivity" />
        <activity android:name=".activities.AddSchoolInfoActivity"></activity>
    </application>

</manifest>